<script setup lang="ts">
import { mdiBook } from "@mdi/js";
</script>

<template>
  <br />
  <v-card class="mx-auto" max-width="600" rounded="0">
    <v-img
      height="100%"
      cover
      src="https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg?w=1380&t=st=1671287069~exp=1671287669~hmac=32c0a389b8c57a00cc784765aec67ea10aeb1f2d3d96069b52521f01453aa555"
    >
      <v-avatar class="mx-auto" color="grey" size="200" rounded="0">
        <v-img
          cover
          src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/157014774_1078501215964037_970610163127329339_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFnTfrsbOV6hEgdrg66wAPOC12vyMOcnoELXa_Iw5yegV3w5zdXVyhOeLiVXOat-Xya0XeMVJ8OMtocUHoGILV_&_nc_ohc=MFgu3H7eLSkAX_qNu2f&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfBq5nfbwN3SiBZ0vwBbbno0Dn7ZB3Blc1XUMoBXHs5o4Q&oe=63C55347"
        ></v-img>
      </v-avatar>
      <v-list-item
        class="text-white"
        title="นาย รังสิมันต์ พิลึก"
      ></v-list-item>
    </v-img>
  </v-card>
  <br />

  <br />
  <v-card class="mx-auto" width="400">
    <template v-slot:title> ประถมศึกษา </template>

    <template v-slot:text> โรงเรียนบ้านตาลดำ </template>
  </v-card>
  <br />
  <v-card class="mx-auto" width="400">
    <template v-slot:title> มัธยมศึกษา </template>

    <template v-slot:text> โรงเรียนบ้านบึง </template>
  </v-card>

  <br />
  <v-card class="mx-auto" width="400">
    <template v-slot:title> สิ่งที่สนใจ </template>

    <template v-slot:text> ดูหนัง, ฟังเพลง, เล่นเกม </template>
  </v-card>
</template>
